@import '/src/assets/styles/variables';

.article {
	padding: .5em;
	border-radius: 5px;
	box-shadow: 0px 4px 12px rgba($color: #000000, $alpha: .15);
	background-color: $color-bg-element;

	&__header {}

	&__after-header {}

	&__body {
		margin-top: 2em;
	}

	&__footer {}

	&__title {
		color: $color-accent;
	}

	&__likes {
		margin-left: 1em;
		cursor: pointer;
		background-color: transparent;
		outline: none;
		padding: 0;
		border: 0;
		border-radius: 0;
		font-size: 1.1em;

		&_liked {
			color: #FF0707;
		}

		&_disabled {
			cursor: default;
			color: $color-text-light;

			.article__likes-count {
				color: $color-text-light;

			}
		}
	}

	&__likes-layout {
		gap: 4px;

	}

	&__likes-icon {
		font-size: 1.1em;

	}

	&__likes-count {
		color: $color-text-dark;
		font-size: .8em;
	}

	&__tag-list {
		gap: 10px;
	}

	&__info {
		margin-bottom: 1em;
	}

	&__info-header {
		margin-bottom: .7em;
	}

	&__tag {
		padding: .3em;
		color: $color-text-light;
		border: 1px solid $color-text-light;
		border-radius: 3px;
	}

	&__author {
		gap: 15px;
	}

	&__author-info {
		text-align: right;
	}

	&__author-name {
		color: $color-text-dark;
	}

	&__created-at {
		color: $color-text-light;
		font-size: 12px;
		line-height: 183%;
	}


	&__author-image {
		border-radius: 50%;
		overflow: hidden;
		width: 3em;
		height: 3em;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	}

	&__description {
		color: $color-text-light;
		line-height: 183%;
	}

	&__markdown {}


}