$color-bg-main: #EBEEF3;
$color-bg-element: white;
$color-accent: #1890FF;
$color-text-dark: #000000D9;
$color-text-default: #000000BF;
$color-text-light: #00000080;
$color-success: #52C41A;
$color-error: #F5222D;

$base-animation: .3s ease-out;